*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 auto;
}

.container {
  background-color: blue;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(16.7rem, auto);
  height: 100vh;
  margin: 0 auto;
  grid-template-areas: 
  "name name profile image image"
  "experience education blog image image"
  "social-media contact pro image image"
}

h2,
h4 {
  color: white;
}

p {
  color: white;
  margin-top: 0;
}

article {
  display: flex;
}

button {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

span {
  border: 2px solid white;
  flex-direction: column;
  padding: .5rem;
}

.buttons {
  display: inline-flex;
}

.ron-header {
  font-size: 2rem;
  letter-spacing: .06rem;

}

.name {
  background-color: #60B980;
  flex-direction: column;
  grid-area: name;
  padding-left: 2rem;
}

.profile {
  align-items: center;
  background-color: #F3A13A;
  flex-direction: column-reverse;
  grid-area: profile;
  justify-content: center;
}

.experience {
  align-items: center;
  background-color: #3F8ABF;
  flex-direction: column-reverse;
  grid-area: experience;
  justify-content: center;
}

.education {
  align-items: center;
  background-color: #E16451;
  flex-direction: column-reverse;
  grid-area: education;
  justify-content: center;
}

.blog {
  align-items: center;
  background-color: #3DBB7C;
  flex-direction: column-reverse;
  grid-area: blog;
  justify-content: center;
}

.social-media {
  align-items: center;
  background-color: #F66932;
  flex-direction: column-reverse;
  grid-area: social-media;
  justify-content: center;
}

.contact {
  align-items: center;
  background-color: #278CC2;
  background-repeat: no-repeat;
  flex-direction: column-reverse;
  grid-area: contact;
  justify-content: center;
}

.portfolio {
  align-items: center;
  background-color: #F66932;
  flex-direction: column-reverse;
  grid-area: pro;
  justify-content: center;
}

.image {
  align-items: center;
  background-image: url('ron-b.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  grid-area: image;
  justify-content: space-between;
}

.icons {
  height: 20%;
  width: 20%;
}

.header-icons {
  height: 20%;
  width: 20%;
}

.header-box {
  background-color: #60B980;
  border: solid 2px white;
  color: white;
  height: 20%;
  width: 20%;
}



.back-icon {
  height: 10%;
  width: 10%;
}

.forward-icon {
  height: 10%;
  width: 10%;
}

.nav-bar {
  height: 5%;
  width: 5%;
}

@media screen and (max-width: 750px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(16.7rem, auto);
    margin: 0 auto;
    grid-template-areas: 
    "image image image"
    "name name profile"
    "experience education blog"
    "social-media contact pro";
  }
}

@media screen and (max-width: 400px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: (16.7rem, auto);
    margin: 0 auto;
    grid-template-areas: 
    "image image"
    "name name"
    "profile experience"
    "education blog"
    "social-media contact"
    "pro pro";
  }
}